name: Build magisk patched boot
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: cd ${{ github.workspace }} && bash ./create-boot
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            neutron.img
